/*reset*/
*{
    box-sizing: border-box;
    /*reset adding and margin on all elements*/
    padding: 0;
    margin: 0;
}
/*typography*/
html{
    font-size: 18px;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;  /*L-H= lineheight/base font*/
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}
h1{
    font-size: 3rem; /*fontsize/basefont*/
    font-weight: 700;   /*bold*/
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
}
h2{
    font-size: 2rem; /*fontsize/basefont*/
    font-weight: 700;   /*bold*/
    letter-spacing: 2px;
    color: rgb(44, 61, 79);
}
h4{
    font-size: 1.2rem; /*fontsize/basefont*/
    font-weight: 700;   /*bold*/
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
}
p{
    color: rgb(255, 255, 255);
    font-weight: 500;   
    text-transform: none;
}
.logo {
    font-size: 1.5rem;
    font-weight: 700;
}
a{
    font-weight: 700;
    text-decoration: none;
    color: rgb(159, 118, 87);
}
a:hover{
    color: rgb(60, 58, 71);
}
form input,
form textarea,
form button{
    font-family: verdana, sans-serif;
    font-size: 18;
    line-height: 1.55;
}
